/* line 1, home.scss */
.home-container {
  margin: 0 auto;
  margin-top: 14em;
  text-align: center;
  margin-bottom: 14em;
}
/* line 7, home.scss */
.home-container h1 {
  font-size: 24px;
  color: #000000;
  font-weight: 600;
}
/* line 12, home.scss */
.home-container h3 {
  font-size: 30px;
  color: #424DF6;
  font-weight: 600;
}
